<!DOCTYPE html>
<html>
  <head>
    <title>Acornchat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@acornchat">
    <meta name="twitter:title" content="AcornChat">
    <meta name="twitter:description" content="Live customer chat for entrepreneurs and small teams">
    <meta name="twitter:image" content="https://acornchat.com/twitter.png">

    <meta property="twitter:widgets:csp" content="on">

    <meta property="og:image" content="https://acornchat.com/twitter.png">
    <meta property="og:type" content="website">
    <meta property="og:title" content="AcornChat">
    <meta property="og:description" content="Live customer chat for entrepreneurs and small teams">
    <meta property="og:url" content="https://acornchat.com">
  </head>

  <body>
    <%= render partial: "shared/flash" %>
    <%= yield %>
  </body>
</html>
